{{ define "main" }}
<div id="content" class="home">
  {{ range $i, $person := .Site.Params.people }}
  {{ $logo := resources.Get (printf "images/%s.png" $person.id) }}
  {{ $logo := $logo.Resize "320x webp" }}
  {{ $logo_link := $logo.RelPermalink }}
  <div class="sigil">
    <picture>
      <img src="{{ $logo_link }}" width="{{ $logo.Width }}" height="{{ $logo.Height }}" id="logo-{{ $person.id }}"
        alt="Sigil representing {{ $person.name }}">
    </picture>
    <div>
      {{ $person.name }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
