* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  overflow-wrap: break-word;
}

div#main {
  display: flex;
  flex-direction: column;
}

header {
  line-height: 64px;
  font-size: 24px;
}

@media (max-width: 600px) {
  nav span#subpages {
    display: none;
  }
  nav span#homesubpages {
    display: flex;
    flex-flow: column;
    margin-left: 32px;
    font-size: 20px;
    line-height: 32px;
  }
  nav span#smallscreen {
    display: inline;
  }
}
@media (min-width: 600px) {
  nav span#smallscreen {
    display: none;
  }
}

div#content {
  display: block;
  padding-left: 32px;
  padding-right: 32px;
}

h2 {
  padding-top: 1em;
}

h3 {
  padding-top: 0.5em;
  margin-left: 0.5em;
}

pre {
  margin-left: 3em;
  padding-top: 16px;
}

p {
  margin-left: 1.5em;
  padding-top: 1em;
}

div#content ol {
  margin-left: 1.5em;
}

div#content li {
  padding-top: 1em;
}

a:link, a:visited {
  color: blue;
}

a:hover, a:active {
  color: red;
}

nav a {
  padding-left: 20px;
}
