* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

div#main {
  display: flex;
  flex-direction: column;
}

header {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
}

@media (max-width: 600px) {
  nav span#subpages {
    display: none;
  }
}

div#contact {
  position: fixed;
  bottom: 64px;
  right: 64px;

  border-radius: 50%;
  width: 64px;
  height: 64px;

  background: rgb(194, 24, 91);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.258824);

  line-height: 64px;
  font-size: 24px;
  text-align: center;
}

div#content {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
}

h2 {
  padding-top: 1em;
}

h3 {
  padding-top: 0.5em;
  margin-left: 0.5em;
}

pre {
  margin-left: 3em;
  padding-top: 16px;
}

p {
  margin-left: 1.5em;
  padding-top: 1em;
}

div#content ol {
  margin-left: 1.5em;
}

div#content li {
  padding-top: 1em;
}

@media (max-width: 896px) {
  div.box {
    background-color: inherit;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 896px) {
  div.box {
    background-color: inherit;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

div.box img {
  width: 49%;
}

div.box a {
  text-align: center;
}

@media (max-width: 896px) {
  div#content a.pselect {
    width: 100%;
  }
}

@media (min-width: 896px) {
  div#content a.pselect {
    width: 50%;
  }
}

div.photocategory {
  background-size: 100% 100%;
  font-size: 3em;
  height: 100%;
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: blue;
}

a.black {
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  color: red;
}

nav a {
  padding-left: 20px;
}

div.photogallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  column-count: 4;
  column-gap: 0px;
}

@media (max-width: 2000px) {
  div.photogallery {
    column-count: 3;
  }
}

@media (max-width: 1500px) {
  div.photogallery {
    column-count: 2;
  }
}

@media (max-width: 1000px) {
  div.photogallery {
    width: 500px;
  }
}
