* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}

div#main {
  display: flex;
  flex-direction: column;
}

header {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
}

@media (max-width: 600px) {
  nav span#subpages {
    display: none;
  }
  nav span#smallscreen {
    display: block;
  }
}
@media (min-width: 600px) {
  nav span#smallscreen {
    display: none;
  }
}

div#content {
  display: block;
  padding-left: 64px;
  padding-right: 64px;
}

h2 {
  padding-top: 1em;
}

h3 {
  padding-top: 0.5em;
  margin-left: 0.5em;
}

pre {
  margin-left: 3em;
  padding-top: 16px;
}

p {
  margin-left: 1.5em;
  padding-top: 1em;
}

div#content ol {
  margin-left: 1.5em;
}

div#content li {
  padding-top: 1em;
}

a:link, a:visited {
  text-decoration: none;
  color: blue;
}

a.black {
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  color: red;
}

nav a {
  padding-left: 20px;
}
