{{ define "title" }}
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{- i18n (lower .Title) | default .Title | title -}}</h1>
    <ul>
      {{ range where .Site.Pages "Type" "blog" }}
      {{ if .IsPage }}
      <li>
        <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
{{ end }}
