<nav class="navigation">
  <section class="container">
    {{ if or .IsHome (eq .Section "")}}
      <a class="navigation-title" href="{{ .Site.BaseURL | relLangURL }}">
        {{ .Site.Title }}
      </a>
    {{ else }}
      <a class="navigation-title" href="{{ .Section | relLangURL }}">
        {{ (index .Site.Params .Section).description }}
      </a>
    {{ end }}

    {{ if or .IsHome (eq .Section "")}}
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">
      {{ with .Site.Params.names }}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ . | absLangURL }}">{{ (index $.Site.Params .).author }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ else }}
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">
      {{ with (index .Site.Menus .Section)}}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </section>
</nav>
