<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css" media="screen">
    <link rel="icon" href="/favicon.ico">
    {{ template "partials/meta.html" . }}
    <script>
      function toggle() {
        menu = document.getElementById('menu')
        menu.style.display = (menu.style.display == 'none' || menu.style.display == '' ? 'block' : 'none')
      }
    </script>
  </head>
  <body>
    <div
       id="main"
       {{ if .IsNode }}
       style="height: 100%;"
       {{ end }}
    >
