{{ template "partials/header.html" . }}

{{ template "partials/navigation.html" . }}

<div id="content">
  <div class="box">
    <img src="img/PhotoSeal.svg"></img>
    <a href="/photography/">Photography</a>
  </div>
  <div class="box">
    <img src="img/BlogSeal.svg"></img>
    <a href="/blog/">Blog</a>
  </div>
  <div class="box">
    <img src="img/ContactSeal.svg"></img>
    <a href="/contact/">Contact</a>
  </div>
  <div class="box">
    <img src="img/AboutSeal.svg"></img>
    <a href="/about/">About us</a>
  </div>
</div>

{{ template "partials/footer.html" . }}
