{{ define "main" }}
<div id="content">
  {{ with $logo_url := .Params.logo }}
  {{ $logo := resources.Get $logo_url }}
  {{ $logo := $logo.Resize "320x webp" }}
  {{ $logo_link := $logo.RelPermalink }}
  <div class="small-sigil">
    <picture>
      <img src="{{ $logo_link }}">
    </picture>
  </div>
  {{ end }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <ul class="page-list">
    <!-- Renders the li.html content view for each content/posts/*.md -->
    {{ range .Pages }}
    <li class="centered">
      <div>
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </div>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
