{{ template "partials/header.html" . }}

{{ template "partials/navigation.html" . }}

<div id="content">
  <div class="box"
       style="
        background-image: url('/img/Boats%20moored%20on%20Zurisee%20with%20Alps%20thumbnail.jpg');
        background-size: 100% 100%;
        "
    >
    <a href="/photography/landscapes/" class="black">Landscapes</a>
  </div>
  <div class="box"
       style="
        background-image: url('/img/Uetliberg%20in%20dark%20fog%20thumbnail.jpeg');
        background-size: 100% 100%;
        "
    >
    <a href="/photography/cityscapes/" class="black">Cityscapes</a>
  </div>
  <div class="box"
       style="
        background-image: url('/img/Wild%20cat%20in%20Zurich%20Wildnispark%20thumbnail.jpeg');
        background-size: 100% 100%;
        "
    >
    <a href="/photography/animals/">Animals</a>
  </div>
  <div class="box"
       style="
        background-image: url('/img/Apricot%20pie%20thumbnail.jpg');
        background-size: 100% 100%;
        "
    >
    <a href="/photography/food/">Food</a>
  </div>
</div>

{{ template "partials/footer.html" . }}
