{{ template "partials/header.html" . }}

{{ template "partials/navigation.html" . }}

<div id="main">
  <header>
    <b> > Photography </b>
  </header>

  <div id="content">
    <h1>Galleries</h1>
    All images are available without watermarks uppon request. Please see contact info in the dropdown menu or use the small round "@" button in the lower right corner. <br/>
    <ul>
      <li><a href="/photography/wallpapers/">> Wallpapers</a></li>
    </ul>
  </div>
</div>

{{ template "partials/footer.html" . }}
